@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Righteous&family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Carter One", cursive;
  /* font-family: "Righteous", cursive;
  font-family: "Staatliches", cursive; */
  /* overflow-y: hidden; */
}

body {
  min-width: 100vh;
  background: linear-gradient(#95ffca, #0e2219);
  overflow-x: hidden;
  overflow-y: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  cursor: pointer;
}

header .logo {
  color: #0e2219;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo:hover {
  color: white;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style-type: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #0e2219;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: #0e2219;
  color: white;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section::before {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100px;
  background: linear-gradient(to top, #74c69d, transparent);
  z-index: 49;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#base {
  z-index: 30;
}

section img#moon {
  mix-blend-mode: screen;
}

.btn,
.input {
  cursor: pointer;
  text-decoration: none;
  display: block;
  padding: 8px;
  border-radius: 40px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background: #0e2219;
  color: white;
  font-size: 1rem;
  font-weight: 200;
  z-index: 7;
  transform: translateY(9rem);
}

.btn:hover {
  background: white;
  color: #0e2219;
}

.input {
  z-index: 46;
  transform: translateY(9rem);
}

#title {
  position: absolute;
  color: white;
  white-space: nowrap;
  line-height: 5.3rem;
  font-size: 6.5rem;
  z-index: 45;
  text-shadow: 5px 5px #0e2219 1;
}

.how {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.instructions {
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
  margin-bottom: 0px;
  font-size: 0.9rem;
  font-weight: 200;
}

.instructions-text {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.instructions-text:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.instructions-text {
  padding: 2px 2px;
}

.how,
.main {
  position: relative;
  padding: 100px;
  background: #74c69d;
  height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#gameon {
  transform: translateY(3rem);
}

.main {
  width: 100vw;
  border-radius: 100% / 0 0 20% 20%;
  height: 90vh;
  z-index: 1;
}

.how h2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  color: white;
}

.how h3 {
  font-size: 1.2rem;
  line-height: 1rem;
  color: white;
}

.best {
  font-weight: 200;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.2);
}

.fa-mobile-alt {
  transform: rotate(90deg);
}

.intro {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}

.intro-header {
  background-color: transparent;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0e2219;
}

.logo-header {
  background-color: transparent;
  color: white;
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo-header.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo-header.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

img {
  box-sizing: border-box;
  width: var(--width);
  height: var(--height);
  transform: translateX(1000);
}

.controls,
.mastercontrols {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  height: 10vh;
  width: 50vw;
  background-color: #74c69d;
  color: #0e2219;
}

#bet,
#numhands {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  width: 15vw;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

button {
  position: relative;
  text-align: center;
  border: none;

  background-color: transparent;
  font-size: 2rem;
  color: #0e2219;
}

button:hover {
  color: white;
  cursor: pointer;
}

button:active {
  color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

button:disabled {
  opacity: 0.2;
}

button:disabled:hover {
  color: rgba(255, 255, 255, 0.2);
  opacity: 1;
  cursor: auto;
}

.far,
.fas {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.datafield {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  background: transparent;
  height: 10vh;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#datamain {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#pot {
  min-width: 20%;
}

.playingfield {
  background-image: url("playingfield.png");
  background-blend-mode: screen;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
  box-sizing: border-box;
  background-color: #74c69d;
  border-color: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  height: 60vh;
}

.cardsContainer {
  background-color: transparent;
  font-size: var(--height);
  position: relative;
  top: 35%;
  margin: 0 3px;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  --width: 10vw;
  --height: calc(var(--width) / 2.5 * 3.5);
  width: var(--width);
  height: var(--height);
  perspective: 1000px;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
  --width: 10vw;
  --height: calc(var(--width) / 2.5 * 3.5);
  width: var(--width);
  height: var(--height);
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cards.is-flipped {
  cursor: pointer;
  transform: rotateY(180deg);
}

.suit-front,
.suit-back {
  cursor: pointer;
  position: absolute;
  margin: 0 5px;
  font-size: 100%;
  text-align: center;
  backface-visibility: hidden;
}

.suit-front {
  background-color: white;
  box-sizing: border-box;
  line-height: var(--height);
}

.suit-back {
  background-color: white;
  box-sizing: border-box;
  line-height: var(--height);
  transform: rotateY(180deg);
}

/* change color of red-based suits (default is black) */
.red {
  color: red;
}

.cards:hover {
  box-shadow: 1px 1px 10px 3px #0e2219;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  font-size: 0.75rem;
  font-weight: 200;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: -70px;
  top: 80%;
}

.tooltip.active,
.tooltiptext.active {
  visibility: visible;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.button:disabled:hover .tooltiptext {
  visibility: hidden;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

#audiobtn {
  cursor: pointer;
}

.scorechart,
.leaderboard {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  z-index: 99;
  box-shadow: inset 0 0 10px #000000;
}

tr:hover {
  color: black !important;
}

#boardcontent,
#chartcontent {
  padding-left: 20px;
  text-align: center;
  font-size: 0.7rem;
}

#ranked {
  font-size: 1rem;
  line-height: 4rem;
}

#specialhands {
  font-size: 2.8rem;
}

#body,
#header {
  transition: margin-right 0.5s;
  padding: 20px;
}

@media screen and (max-width: 900px) {
  #stars,
  #moon,
  #mountains_behind,
  #base,
  section::before {
    visibility: hidden;
  }

  .controls > * > *,
  .mastercontrols {
    font-size: 1.5rem;
  }

  /* #title,
  #name,
  #btn, */
  #home {
    max-width: 80vw;
  }

  .cards,
  .cardsContainer {
    --mobilewidth: 80px;
    --mobileheight: calc(var(--mobilewidth) / 2.5 * 3.5);
    width: var(--mobilewidth);
    height: var(--mobileheight);
  }

  .suit-front,
  .suit-back {
    font-size: 110px;
    line-height: var(--mobileheight);
  }

  .datafield {
    font-size: 0.7rem;
    width: 100vw;
  }

  .instructions {
    font-size: 0.7rem;
    flex-direction: column;
  }

  .how h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .how h3 {
    font-size: 1rem;
    line-height: 0.6rem;
  }
}

@media screen and (max-width: 460px) {
  #title {
    line-height: 4.5rem;
    font-size: 5.5rem;
  }

  header ul {
    flex-direction: column;
  }
  header ul li {
    margin-top: 20px;
  }
  .tooltip:hover .tooltiptext {
    visibility: hidden;
  }

  .controls > * > *,
  .mastercontrols {
    font-size: 1rem;
    transform: rotate(90deg);
    line-height: 1rem;
  }

  .playingfield {
    transform: rotate(90deg);
    margin-left: -130px;
    margin-top: -40px;
    width: 110vw;
    height: 57vh;
  }

  .cardsContainer {
    margin: 0 10px 10px 0;
  }
  .datafield {
    font-size: 0.6rem;
  }

  .container > p {
    visibility: hidden;
    font-size: 0;
  }

  #trophy,
  #table {
    visibility: hidden;
  }
}
