* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* overflow-y: hidden; */
}

body {
  min-width: 100vh;
  background: linear-gradient(#2b1055, #7597de);
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
}

header .logo {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style-type: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: white;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: white;
  color: #2b1055;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section::before {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 49;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;
}

section img#moutains-front {
  z-index: 9;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  border-radius: 40px;
  background: white;
  color: #2b1055;
  font-size: 1.5rem;
  z-index: 5;
}

#btn {
  transform: translateY(100px);
}

#text {
  position: absolute;
  color: white;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 10;
}

.about,
.how,
.main {
  position: relative;
  padding: 100px;
  background: #1c0522;
  height: 100vh;
}

.about h2,
.how h2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  color: white;
}

.about p,
.how p {
  font-size: 1.2rem;
  color: white;
}

.intro {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}

.intro-header {
  background-color: transparent;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.logo-header {
  background-color: transparent;
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo-header.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo-header.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

img {
  box-sizing: border-box;
  width: var(--width);
  height: var(--height);
  transform: translateX(1000);
}

.controls {
  text-align: center;
  font-size: 2rem;
  background-color: #1c0522;
  color: white;
}

button {
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: white;
}

button:hover {
  color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

button:active {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

button:disabled {
  opacity: 0.2;
}

button:disabled:hover {
  color: rgba(255, 255, 255, 0.2);
  opacity: 0.2;
  cursor: none;
}

.far,
.fas {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.datafield {
  text-align: center;
  font-size: 1rem;
  background: #1c0522;
  color: white;
}

.playingfield {
  display: block;
  box-sizing: border-box;
  background-color: #1c0522;
  border-color: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 70vh;
}

.cardsContainer {
  background-color: transparent;
  font-size: var(--height);
  position: relative;
  top: 35%;
  margin: 0 3px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  --width: 10vw;
  --height: calc(var(--width) / 2.5 * 3.5);
  width: var(--width);
  height: var(--height);
  perspective: 1000px;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  font-size: var(--height);
  position: relative;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
  --width: 10vw;
  --height: calc(var(--width) / 2.5 * 3.5);
  width: var(--width);
  height: var(--height);
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cards.is-flipped {
  cursor: pointer;
  transform: rotateY(180deg);
}

.suit-front,
.suit-back {
  position: absolute;
  margin: 4px 0px 0px 3px;
  backface-visibility: hidden;
}

.suit-front {
  background-color: white;
  box-sizing: border-box;
  line-height: var(--height);
}

.suit-back {
  background-color: white;
  box-sizing: border-box;
  line-height: var(--height);
  transform: rotateY(180deg);
}

/* change color of red-based suits (default is black) */
.red {
  color: red;
}

.cards.winning {
  box-shadow: 1px 1px 10px 3px gold;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-7-23 19:3:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slide-out-blurred-top {
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    reverse both;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) reverse
    both;
}
