@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Righteous&family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Carter One", cursive;
  /* font-family: "Righteous", cursive;
  font-family: "Staatliches", cursive; */
  /* overflow-y: hidden; */
}

body {
  min-width: 100vh;
  background: linear-gradient(#140230, #2b1055);
  overflow-x: hidden;
  overflow-y: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
}

header .logo {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style-type: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: white;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: white;
  color: #2b1055;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section::before {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 49;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;
}

section img#mountains_front {
  z-index: 9;
}

.btn,
.input {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  border-radius: 40px;
  background: white;
  color: #2b1055;
  font-size: 1rem;
  font-weight: 200;
  z-index: 7;
}

.btn-float {
  position: fixed;
  z-index: 9;
  bottom: 15px;
  left: calc(100% - 75px);
  width: 60px;
  height: 60px;
  padding: 22px 17px;
  transition: all 0.5s ease-in-out;
  visibility: visible;
  background-color: #ef4b6c;
  border-radius: 50%;
  transform: translateZ(0);
}

.btn:hover {
  background: #2b1055;
  color: white;
}

.input {
  z-index: 46;
}

#btn,
.input {
  transform: translateY(7.5rem);
}

#title {
  position: absolute;
  color: white;
  white-space: nowrap;
  line-height: 5.3rem;
  font-size: 6.5rem;
  z-index: 45;
}

.how {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.instructions {
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
}

.how,
.main {
  position: relative;
  margin: 0 auto;
  padding: 100px;
  background: #1c0522;
  height: 90vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main {
  border-radius: 100% / 0 0 20% 20%;
}

.how h2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  color: white;
}

.how h3 {
  font-size: 1.2rem;
  line-height: 0.8rem;
  color: white;
}

.best {
  font-weight: 200;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.2);
}

.fa-mobile-alt {
  transform: rotate(90deg);
}

.intro {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}

.intro-header {
  background-color: transparent;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.logo-header {
  background-color: transparent;
  color: white;
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo-header.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo-header.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

img {
  box-sizing: border-box;
  width: var(--width);
  height: var(--height);
  transform: translateX(1000);
}

.controls {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  height: 10vh;
  width: 50vw;
  background-color: #1c0522;
  color: white;
}

#bet,
#numhands {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  width: 20vw;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

button {
  position: relative;
  text-align: center;
  border: none;

  background-color: transparent;
  font-size: 2rem;
  color: white;
}

button:hover {
  color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

button:active {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

button:disabled {
  opacity: 0.2;
}

button:disabled:hover {
  color: rgba(255, 255, 255, 0.2);
  opacity: 1;
  cursor: auto;
}

.far,
.fas {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.datafield {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  background: transparent;
  height: 10vh;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#datamain {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#pot {
  min-width: 20%;
}

.playingfield {
  display: block;
  box-sizing: border-box;
  background-color: #1c0522;
  border-color: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 60vh;
}

.cardsContainer {
  background-color: transparent;
  font-size: var(--height);
  position: relative;
  top: 35%;
  margin: 0 3px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  --width: 10vw;
  --height: calc(var(--width) / 2.5 * 3.5);
  width: var(--width);
  height: var(--height);
  perspective: 1000px;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
  --width: 10vw;
  --height: calc(var(--width) / 2.5 * 3.5);
  width: var(--width);
  height: var(--height);
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cards.is-flipped {
  cursor: pointer;
  transform: rotateY(180deg);
}

.suit-front,
.suit-back {
  cursor: pointer;
  position: absolute;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
  text-align: center;
  font-size: var(--height);
  backface-visibility: hidden;
}

.suit-front {
  background-color: white;
  box-sizing: border-box;
  line-height: var(--height);
}

.suit-back {
  background-color: white;
  box-sizing: border-box;
  line-height: var(--height);
  transform: rotateY(180deg);
}

/* change color of red-based suits (default is black) */
.red {
  color: red;
}

.cards:hover {
  box-shadow: 1px 1px 10px 3px rgb(212, 12, 212);
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  font-size: 0.75rem;
  font-weight: 200;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  margin-left: -80px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.button:disabled:hover .tooltiptext {
  visibility: hidden;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

#audiobtn {
  cursor: pointer;
}
