  <!-- Hero Landing Page -->
  <section id="home">
    <h2 id="title">Video<br />Poker</h2>
    <img src="./static/img/base.png" alt="" id="base" />
    <input type="text" autofocus = "autofocus" class="input" placeholder="input your name" id="name" name="name" required
      minlength="4" maxlength="10" size="20" style="text-align:center;"></input>
    <a class="btn" id="btn" disabled><i class="fas fa-chevron-down"></i></a>
    </form>
    
  </section>