
  <!-- How to Play / Onboarding -->
  <div class="how" id="how">
    <h2>Welcome 
      <span id="player" style = "color: #0e2219; text-decoration:underline;"></span>
    </h2>
    <p>
      <h3 style="color:#0e2219">Here's how to play:</h3>
    </p>
    <br>
    <div class="instructions">
      <div class="instructions-text" id="instruct1">
        
        <div class="container">
          <h4>
            <b>
              <i class="fas fa-money-bill-wave"></i>
               Make your bet.
               
            </b>
          </h4>
          <img src="./static/img/bet.png">
        </div>
      </div>
      <div class="instructions-text" id="instruct2">
        
        <div class="container">
          <h4><b><i class="fas fa-dice"></i> Make a move.</b></h4>
          <img src="./static/img/move.png">
          <p> Tap on the up and down arrows to increase your bets per round accordingly. T</p>
        </div>
      </div>
      <div class="instructions-text" id="instruct3">
        <div class="container">
          <h4><b><i class="fas fa-chess-rook"></i> Make a windfall.</b></h4>
          <img src="./static/img/cash.png">
        </div>
      </div>
    </div>

    <p style="text-align: center;">
      <a href="#main" class="btn" id="gameon"><i class="fas fa-gamepad"></i> GAME ON! </a>
    </p>
  </div>