<!-- Leaderboard -->
<div class="leaderboard" id="leaderboard">
  <div id="boardcontent">
    <table>
      <thead>
        <tr>
          <th colspan="3"><h2>LeaderBoard</h2></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Rank</td>
          <td>Player</td>
          <td>Score</td>
        </tr>
        <tr id="ranked">
          <td>1</td>
          <td></td>
          <td></td>
        </tr>
        <tr id="ranked">
          <td>2</td>
          <td></td>
          <td></td>
        </tr>
        <tr id="ranked">
          <td>3</td>
          <td></td>
          <td></td>
        </tr>
        <tr id="ranked">
          <td>4</td>
          <td></td>
          <td></td>
        </tr>
        <tr id="ranked">
          <td>5</td>
          <td></td>
          <td></td>
        </tr>
        <tr id="ranked">
          <td>6</td>
          <td></td>
          <td></td>
        </tr>
        <tr id="ranked">
          <td>7</td>
          <td></td>
          <td></td>
        </tr>
        <tr id="ranked">
          <td>8</td>
          <td></td>
          <td></td>
        </tr>
        <tr id="ranked">
          <td>9</td>
          <td>adas</td>
          <td></td>
        </tr>
        <tr id="ranked">
          <td>10</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
