<!-- Navigation Bar -->
<header id="header">
  <a href="#home" class="logo"><i class="fas fa-dice-d20"></i></a>
  <ul>
    <li>
      <a href="#about" class="tooltip"
        ><i class="fas fa-info-circle"></i
        ><span class="tooltiptext"
          >This project is part of Rocket Academy's Bootcamp, done by Shen
          Nan.</span
        ></a
      >
    </li>
    <li>
      <a
        ><i class="fas fa-volume-mute tooltip" id="gameaudio"
          ><span class="tooltiptext">Toggle <br />game sounds</span></i
        ></a
      >
    </li>
    <li>
      <a
        ><i class="far fa-play-circle tooltip" id="audiobtn"
          ><span class="tooltiptext">Toggle <br />bg audio</span></i
        ></a
      >
    </li>
    <li>
      <a src="#" onclick="toggleLeaderBoard()" id="trophy"
        ><i class="fas fa-trophy tooltip"
          ><span class="tooltiptext">Leaderboard</span></i
        ></a
      >
    </li>
    <li>
      <a src="#" onclick="toggleScoreChart()" id="table"
        ><i class="fas fa-table tooltip"
          ><span class="tooltiptext"
            >Scoring <br />
            Chart</span
          ></i
        ></a
      >
    </li>
  </ul>
</header>
