<!-- Splash Screen -->
<div class="intro">
  <h1 class="intro-header">
    <span class="logo-header"> Game... </span>
    <span class="logo-header" style="color: #59c996">Loaded! </span>
    <p class="best">
      Best viewed on desktop (<i class="fas fa-desktop"> </i>) or on landscape
      mobile ( <i class="fas fa-mobile-alt"></i>)
    </p>
  </h1>
</div>
