<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Video Poker</title>

    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="./static/css/animation.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />

    <!-- for the scrolling of numbers on the money pot -->
    <link rel="stylesheet" href="./static/css/odometer.css" />
    <script src="../static/js/odometer.js"></script>

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/9589b33f77.js"
      crossorigin="anonymous"
    ></script>

    <!-- Game Initialisation -->
    <script src="../static/js/gameInit.js"></script>

    <!-- Global Variables -->
    <script src="../static/js/global.js"></script>

    <!-- Hand Scoring -->
    <script src="../static/js/score.js"></script>

    <!-- Probability -->
    <script src="../static/js/morecomfy.js" defer></script>

    <!-- Testing
    <script src="js/testHandScore.js" defer></script> -->
  </head>
</html>
